
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    overflow-x : hidden;
}
header{
    background-image: url(./photo/logo/1658579341217.png);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    background-color: white;
   
}

h1{

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffd700;
}

.logo {
    /*box-sizing: border-box;*/
    
    margin: 0.5vh;
    height: 1em;
    vertical-align: -2vh;
    padding: 0px 0px 0px 0vh;
    cursor: pointer;
    
}
.heading {
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: rgb(249, 1, 1);
    font-size: 6vw;
    box-sizing: border-box;
    /*togive the height and width including padding and border but not margin*/
    font-weight: bolder;
    cursor: pointer;
    -webkit-text-stroke: 1px #000; /* Outline color and width for WebKit/Blink browsers (Chrome, Safari, Opera) */
  text-stroke: 2px #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.main_container{
   padding-inline-start: 25px;
   padding-inline-end: 20px;
}
.img-fluid{
          margin-inline: auto;
}
.heading:hover{
    cursor: pointer;
    color: #ea0909;
}
header h2:hover{
    color: #ebcb1a;
    cursor: pointer;
}

header>h2 {
    text-align: center;
    font-size: 4vw;
    color: rgb(249, 232, 2);
    margin: 0%;
    text-decoration: underline;
    font-stretch: ultra-expanded;
    -webkit-text-stroke: 2px #000; /* Outline color and width for WebKit/Blink browsers (Chrome, Safari, Opera) */
    text-stroke: 2px #000;
}
a{
    color: black;
}
.bgnav{
   background-color:#FFD700;
   color: #000;
}
.ms-5{
    margin-left: 10rem !important;
    margin-top: 10px;
}
.ms-4{
    margin-left:9rem !important; 
    margin-bottom: 10px;
}
.dropdown-toggle{
    border: none;
}
.dropdown-menu{
    border: none;
    text-align: left;
}

.section-image img{
    width: 700px;
    height: 500px;
}

.register{
    animation: blicnk .8s linear infinite;
}
@keyframes blicnk {
    0% { opacity: 1; color: red; }
    50% { opacity: 1; color: black; }
    100% { opacity: 1; color: red; }
  }
  .hype{
    text-align: left;
  }
  .navbar-collapse{
    display: flex;
    justify-content: center;
  }
  .nav-item{
    margin-left: 60px;
  }
 
  .dropdown{
    top:2px;
    
  }

footer a{
    text-decoration: none;
}
.copyright{
   
   text-align: center;
}
.bi-instagram{
    color: #ea0909;
}
.bi-telephone{
    color: rgb(9, 9, 9);
}
.bi-whatsapp{
    color: rgb(20, 233, 8);
}
.bi-facebook{
    color: rgb(18, 127, 195);
}
.fonted{
    font-size:medium;
}

.redHover:hover{
    color: red;
}
.space{
    margin-left: 10px;
}
li{
    list-style-type:none;
}
.block{
    display: flex;
    flex-wrap:wrap;
}
.section-content{
    width: 100%;
   
}
.content-para{
    font-size: 1.2rem;
    padding-inline: 30px;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0 auto;
    background-color: rgba(219, 230, 223, 0.5);
    z-index: 9999;
    padding-left: 20px;
    padding-right: 30px;
}

.popup-content {
    background-color: #ba1212;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10 10 10px rgb(255, 255, 255);
    position: relative;
}

.close {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.minimize {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 20px;
    cursor: pointer;
}

#blink {
    color: #fff;
    animation: blink-animation 2s infinite;
}


@keyframes blink-animation {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@media (max-width:550px){
    header{
        width: 100%;
    }
    .bgnav{
        width: 100%;
    }
}

@media(max-width:1150px){
   .block{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
   }

   .section-image{
    width: 100%;
    height:auto;
    margin-left: 8rem;
    margin-inline:auto;
   }

   .section-image img{
    position:relative;
    max-width:100%;
    height:auto;
    transform:scale(0.9);
    margin:2rem 0 1rem 1rem;
   }
   .section-content{
    width:100%;
    padding-left:2rem;
   }
   .section-content h2{
    margin-bottom:2rem;
   }
}

@media (max-width:720px){
    .header{
        width:102.5%;
    }
    .block{
        display:flex;
        flex-direction:column;
    }
    .section-content{
        order:2;
    }
    .section-image{
        order:1;
        width:100%;
        position:absolute;
        top:77px;
        margin-inline:auto;
        display:flex;
        justify-content: center;
    }

    .section-image img{
        object-fit:cover;
        transform:scale(0.6);
        height:auto;
        display:block;
        margin-bottom:2px;
    }
    .section-content{
       margin-top: 30rem;
}
}

@media (max-width: 550px){
    .section-image{
        top: 45px;
    }
    
     .section-image img{
        object-fit:cover;
        transform:scale(0.6);
        height:auto;
        display:block;
     
    }
  
}   

@media (max-width:420px ){

    .section-image{
       
        margin-inline:auto;
        top:55px;
        width:100%;
        margin-left: 3px;
    }
    .section-image img{
        object-fit:cover;
        transform:scale(0.6);
       
        
    }

    .section-content{
       display:flex;
       width:100%;
       flex-direction:column;  
        margin-top:35px;
   
    }

    footer img{
        transform:scale(0.8);
        width: 75px;
    }
} 
